name: Create UPM tag branch

on:
  create:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Create UPM tag branch
        uses: hecomi/create-upm-branch-action@main
        with:
          git-tag: ${{ github.ref_name }}
          pkg-root-dir-path: Assets
          main-branch: master

#      - name: Setup node
#        uses: actions/setup-node@v2
#        with:
#          registry-url: 'https://registry.npmjs.org'
#
#      - name: NPM publish
#        run: npm publish --access public
#        env:
#          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
